:root{
  --primary:#fdcb6e;
  --sec: #dfe6e9;
  --darkcolor: #00b894;
  --whitecolor: #fff;
  --defaultwidth: 90%;
}

*,
*::after,
*::befor{
  box-sizing: border-box;
}
body{
  font-family: 'poppins',sans-serif;
  margin: 0;
  background: var(--sec);

}
.main_area{
  width: var(--defaultwidth);
  margin: 20px auto;
  background: var(--primary);
  padding: 10px;
 

}

.title{
background: var(--darkcolor);
padding: 20px;
text-align:center;
margin-bottom: 20px;

}

.main_area h2{
color: var( --whitecolor);
margin: 0;
}
.main{
  display: flex;
 /* flex-direction: column-reverse;
 flex-direction: row-reverse; */

/* flex-flow: wrap; */
/* flex-flow: row; */
/* flex-flow: column; */
/* flex-flow: wrap; */
/* flex-flow: wrap-reverse; */
/* flex-flow:column wrap ; */
/* flex-flow:row-reverse wrap ; */
/* flex-flow:column-reverse wrap;*/
/* flex-flow:column wrap-reverse */
/* flex-flow:row wrap-reverse */
/* flex-flow:row-reverse wrap-reverse;*/
flex-flow:row wrap;
/* justify-content: end; */
/* justify-content: space-around; */
/* justify-content: space-evenly; */
justify-content: space-between;
}
.child{
  background: var(--darkcolor);
  /* width: 100%; */
  /* padding: 2px; */
  /* margin-bottom: 20px; */
  color: var( --whitecolor);
  margin: 0.3%;
  padding: 2%;
  flex-basis: 27%;

}

.child a{
  background: var(--primary);
  color: var(--darkcolor);
  display: inline-block;
  transition: 0.5s;
  padding:10px 20px;
  text-decoration: none;

}
.child a:hover{
  background: var(--sec);
  color: var(--primary);
}



.extra{
  margin-bottom: 26px;
  height: 300px;
  background: var(--whitecolor) ;
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: stretch; */
  /* align-items: center; */
  align-items: baseline;
}
.extra p{
  margin: 0;
}
.extra3{
  /* align-content:space-between; */
  align-content:space-around;
}


.extra3 .child{
  width: 50px;
  height: 50px;
  background: var(--primary);
}


.extra4{
  /* align-content: space-around; */
  align-items: center;
  justify-content: center;
}