body{
  font-family: 'poppins',sans-serif;
  margin: 0;
}

.one{
  background: rgb(81, 60, 101);
  border: 5px solid rgb(174, 31, 5);
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 15px;
  /* transition: width 2s, height 0.6s,border 3s; */
  transition:4s;
  transition-timing-function:ease-in-out;
  transition-delay: 1s;
}

.one:hover{
  border: 10px solid green;
  width:500px;
  height: 350px;
}

a{
  font-size: 35px;
  font-weight: bold;
  color:black;

  transition: 5s;
}
a:hover{
  color:blue;
}