body{
  background: url(imaige5.jpeg);
  background-attachment:fixed;
}

div{

  background-color: rgba(33, 211, 16, 0.3);
  background-image:url(imaige.jpg);
  background-attachment:fixed;
  
  
  background-size:80%;
  
  background-position: center;
  
  
  margin: 1% auto;
   padding: 4%;
   width:88%;
   
 
}
div p,h1{
   font-size: 110%;
  color: rgb(8, 2, 12);
}