
body{
  background: rgb(46, 46, 122);
}

h1{

color:rgb(201, 194, 193);
text-align: center;
background: rgb(80, 63, 97);
background-color: rgb(90, 34, 34,0.3);

}
p{
  margin: 20px;
  padding:20px;

}
.one{

text-align:left;
text-align-last: center;
background:rgba(126, 116, 62, 0.3);
color: white;
text-indent: 100px;
letter-spacing: 2.5px;
font-size: 110%;
line-height:25px;
word-spacing: 10px;



}
.two{
  text-align: right;
text-align-last: center;
background: rgba(50, 139, 50, 0.3);
color: white;
}
.three{
  background: rgb(187, 107, 107,0.3);
  direction: rtl;
  unicode-bidi:bidi-override ;
 
}

.baseline{
  vertical-align:baseline ;

}
.text-top{
  vertical-align:text-top;

}
.text-bottom{
  vertical-align:text-bottom;
}
.sub{
  vertical-align:sub;
}
.super{
  vertical-align:super;
}
.link{
  background-color: rgb(219, 10, 10);
  color: white;
  text-decoration: none;
}
h2{
  text-transform:capitalize ;
  background: rgb(5, 1, 1,0.5);
  margin: 2%;
  padding:1%;
  color: white;
}
.four{
background:rgb(132, 132, 50,0.4);
white-space: break-spaces;
color: white;
font-size: 110%;
letter-spacing: 3px;
line-height: 35px;
word-spacing: 6px;
margin: 2px;
padding: 10px;
border:4px dotted greenyellow;
text-shadow:0px 0px 20px rgb(11, 218, 156) ;
}