body{
  font-family: 'poppins',sans-serif;
  margin: 0;
}
.contact{
  width: 80%;
  border: 1px solid #ddd;
  margin: 20px auto;
  padding:5%;
  text-align:center;
  
}

.contact h2{
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 0;
}
.contact p{
  color: gray;
}
.contact form{
  margin-top: 25px;

}

.contact_form{
  width: 100%;
  margin-top: 15px;
  text-align: left;
}

.contact_form label{
  display: block;
  margin-bottom: 5px;
}

.contact_form input,.contact_form textarea{
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 3px;
  width: 94%;
   font-family: 'poppins',sans-serif;


}
.contact_form:last-child{
  
  margin-top:0px;
}