body{
  font-family: 'poppins',sans-serif;
  margin: 0;
}

/* #test {
  background: aqua;
  width:calc(100% - 200px);
  margin: auto;
  } */
  #test {
    background: aqua;
    width:max(70%,10px);
    margin: auto;
  }
  #test {
    background: aqua;
    width:min(70%,300px);
    margin: auto;
  }




