
a{
  color: rgb(116, 203, 203);
  text-decoration: none;
  text-decoration: overline;
  font-size: 130%;
  text-decoration: line-through;
  
}
a :hover{
  color: blueviolet;
}
a :visited{
  color: brown;
}
a :active{
  color: rgb(0, 255, 26);
  font-weight: bold;
  font-size: 12px;
}
a :focus{
  color: black;
  font-size: 16px;
  background: rgb(35, 35, 182);
}

.one{
  color: white;
  background: red;
  text-decoration: none;

  display:inline-block;
  border:solid red;


}
